.main-container {
    width: 100%;
    height: 100%;
}

.side-bar{
    width: auto;
    height: auto;
    background: black;
    display: inline-block;
    float: left;
}

#map-container {
    height: 100%;
    display: inline-block;
    float: left;
}